//- index.jade
- var title = "Project X"
- var page = "Home"

doctype html
html

	// html head
	head
		include ./includes/head.jade

	// body
	body

		// page header
		include ./includes/header.jade

		// content
		div(role="main")

			.hero-slider-container

				.hero-slider-texts
					#hero-slider-prev
					.hero-slider-text
						h1
							| An Evening with Friends
						p.sub-title
							| Celebrating Asia, A Red Carpet Event of the Asian Civilisations Museum
						p.datetime
							| Saturday, 21 November 2015, 7pm
						p.description
							| The ACM has embarked on a comprehensive renewal. 
							| As we launch our new spaces, we invite you to join our journey.

						a(href="#").more
							| Find out more
					.hero-slider-text
						h1
							| An Evening with Friends
						p.sub-title
							| Celebrating Asia, A Red Carpet Event of the Asian Civilisations Museum
						p.datetime
							| Saturday, 21 November 2015, 7pm
						p.description
							| The ACM has embarked on a comprehensive renewal. 
							| As we launch our new spaces, we invite you to join our journey.

						a(href="#").more
							| Find out more
					.hero-slider-text
						h1
							| An Evening with Friends
						p.sub-title
							| Celebrating Asia, A Red Carpet Event of the Asian Civilisations Museum
						p.datetime
							| Saturday, 21 November 2015, 7pm
						p.description
							| The ACM has embarked on a comprehensive renewal. 
							| As we launch our new spaces, we invite you to join our journey.

						a(href="#").more
							| Find out more
					.hero-slider-text
						h1
							| An Evening with Friends
						p.sub-title
							| Celebrating Asia, A Red Carpet Event of the Asian Civilisations Museum
						p.datetime
							| Saturday, 21 November 2015, 7pm
						p.description
							| The ACM has embarked on a comprehensive renewal. 
							| As we launch our new spaces, we invite you to join our journey.

						a(href="#").more
							| Find out more
					.hero-slider-text
						h1
							| An Evening with Friends
						p.sub-title
							| Celebrating Asia, A Red Carpet Event of the Asian Civilisations Museum
						p.datetime
							| Saturday, 21 November 2015, 7pm
						p.description
							| The ACM has embarked on a comprehensive renewal. 
							| As we launch our new spaces, we invite you to join our journey.

						a(href="#").more
							| Find out more
					.hero-slider-text
						h1
							| An Evening with Friends
						p.sub-title
							| Celebrating Asia, A Red Carpet Event of the Asian Civilisations Museum
						p.datetime
							| Saturday, 21 November 2015, 7pm
						p.description
							| The ACM has embarked on a comprehensive renewal. 
							| As we launch our new spaces, we invite you to join our journey.

						a(href="#").more
							| Find out more
					#hero-slider-next

				//- hero slider
				.hero-slider-backgrounds
					.hero-slider-background
						img(src="img/1.jpg", alt="")
					.hero-slider-background
						img(src="img/2.jpg", alt="")
					.hero-slider-background
						img(src="img/3.jpg", alt="")
					.hero-slider-background
						img(src="img/4.jpg", alt="")
					.hero-slider-background
						img(src="img/5.jpg", alt="")
					.hero-slider-background
						img(src="img/6.jpg", alt="")

				.hero-slider-thumbnails
					.hero-slider-thumbnail
						img(src="img/1.jpg", alt="")
					.hero-slider-thumbnail
						img(src="img/2.jpg", alt="")
					.hero-slider-thumbnail
						img(src="img/3.jpg", alt="")
					.hero-slider-thumbnail
						img(src="img/4.jpg", alt="")
					.hero-slider-thumbnail
						img(src="img/5.jpg", alt="")
					.hero-slider-thumbnail
						img(src="img/6.jpg", alt="")

		// global script
		include ./includes/script.jade

		// footer
		include ./includes/footer.jade