@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  font-size: 62.5%;
}
body p {
  font-size: 1.4rem;
  color: #454545;
}
body div[role="main"] .hero-slider-container {
  overflow: hidden;
  width: 800px;
  height: 600px;
  margin: 100px auto;
  position: relative;
}
body div[role="main"] .hero-slider-container.active .hero-slider-thumbnails {
  right: 0px;
}
body div[role="main"] .hero-slider-container .hero-slider-contents {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #111111;
  background-color: rgba(10, 10, 10, 0.6);
}
body div[role="main"] .hero-slider-container .hero-slider-contents #hero-slider-prev {
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: gold;
}
body div[role="main"] .hero-slider-container .hero-slider-contents #hero-slider-prev:focus,
body div[role="main"] .hero-slider-container .hero-slider-contents #hero-slider-prev:active {
  cursor: pointer;
}
body div[role="main"] .hero-slider-container .hero-slider-contents #hero-slider-next {
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: gold;
}
body div[role="main"] .hero-slider-container .hero-slider-contents #hero-slider-next:focus,
body div[role="main"] .hero-slider-container .hero-slider-contents #hero-slider-next:active {
  cursor: pointer;
}
body div[role="main"] .hero-slider-container .hero-slider-contents .hero-slider-content {
  height: 600px;
  padding: 40px 15px;
  display: none;
}
body div[role="main"] .hero-slider-container .hero-slider-contents .hero-slider-content#slide-content-0 {
  display: block;
}
body div[role="main"] .hero-slider-container .hero-slider-contents .hero-slider-content h1 {
  color: #ffffff;
}
body div[role="main"] .hero-slider-container .hero-slider-contents .hero-slider-content p {
  font-size: 20px;
  color: #ffffff;
}
body div[role="main"] .hero-slider-container .hero-slider-backgrounds .hero-slider-background {
  background-position: center;
  background-repeat: no-repeat;
  width: 800px;
  height: 600px;
}
body div[role="main"] .hero-slider-container .hero-slider-backgrounds .hero-slider-background img {
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
}
body div[role="main"] .hero-slider-container .hero-slider-thumbnails {
  position: absolute;
  right: -150px;
  top: 0;
  bottom: 0;
  width: 150px;
  background: #111111;
  background-color: rgba(10, 10, 10, 0.6);
  transition: right ease .5s;
}
body div[role="main"] .hero-slider-container .hero-slider-thumbnails .hero-slider-thumbnail {
  padding: 7px 15px;
  overflow: hidden;
}
body div[role="main"] .hero-slider-container .hero-slider-thumbnails .hero-slider-thumbnail:first-of-type {
  padding-top: 15px;
}
body div[role="main"] .hero-slider-container .hero-slider-thumbnails .hero-slider-thumbnail:last-of-type {
  padding-bottom: 15px;
}
body div[role="main"] .hero-slider-container .hero-slider-thumbnails .hero-slider-thumbnail:focus,
body div[role="main"] .hero-slider-container .hero-slider-thumbnails .hero-slider-thumbnail:active {
  outline: none;
}
body div[role="main"] .hero-slider-container .hero-slider-thumbnails img {
  width: 120px;
  height: 100%;
}
